@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {

	/* IE10+ specific styles go here */
	.background_block {
		left: -375px !important;
	}
	.pic-caption.bottom-to-top span.p {
		left: -104% !important;
	}
}
@font-face {
	font-family: 'Lato';
	src: url(../fonts/Lato-Regular.eot);
	src: url(../fonts/Lato-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/Lato-Regular.woff) format('woff'), url(../fonts/Lato-Regular.ttf) format('truetype'), url(../fonts/Lato-Regular.svg#Lato-Regular) format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'Lato-Thin';
	src: url(../fonts/Lato-Thin.eot);
	src: url(../fonts/Lato-Thin.eot?#iefix) format('embedded-opentype'), url(../fonts/Lato-Thin.woff) format('woff'), url(../fonts/Lato-Thin.ttf) format('truetype'), url(../fonts/Lato-Thin.svg#Lato-Thin) format('svg');
	font-weight: 100;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'GreatVibes';
	src: url(../fonts/GreatVibes-Regular.eot);
	src: url(../fonts/GreatVibes-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/GreatVibes-Regular.woff) format('woff'), url(../fonts/GreatVibes-Regular.ttf) format('truetype'), url(../fonts/GreatVibes-Regular.svg#GreatVibes-Regular) format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'Lato-Semibold';
	src: url(../fonts/Lato-Semibold.eot);
	src: url(../fonts/Lato-Semibold.eot?#iefix) format('embedded-opentype'), url(../fonts/Lato-Semibold.woff) format('woff'), url(../fonts/Lato-Semibold.ttf) format('truetype'), url(../fonts/Lato-Semibold.svg#Lato-Semibold) format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
html, body {
	margin-left: 0px;
	margin-bottom: 0px;
}

/* Header */
.right_to_left {
	background-color: #191919;
	background: #191919;
	color: #191919;
	transform: rotate(356.7deg) scale(1) skew(-3.2deg) translate(0px);
	-webkit-transform: rotate(356.7deg) scale(1) skew(-3.7deg) translate(0px);
	-moz-transform: rotate(356.7deg) scale(1) skew(-3.2deg) translate(0px);
	-o-transform: rotate(356.7deg) scale(1) skew(-3.2deg) translate(0px);
	-ms-transform: rotate(356.7deg) scale(1) skew(-3.2deg) translate(0px);
	height: 411px;
	margin-top: -98px;
	z-index: 5;
	position: relative;
	width: 100.2%;
	margin-bottom: -43px;
}
.header_cover {
	width: 100.14%;
	height: 449px;
	padding-top: 37px;
	position: relative;
	overflow: hidden;
	margin-bottom: -194px;
	z-index: 5;
}
.r_t_l_inside {
	color: #fff;
	position: absolute;
	z-index: 5;
	top: -2px;
	width: 100%;
}
.appointment .title.white {
	width: 620px;
}
.info_block.marg_80 .txt {
	width: 1160px;
	float: none;
}
.txt .wrap {
    position: relative;
    width: 10px;
    height: 10px;
    display: inline-block;
    top: 0;
    margin-left: 22px;
    margin-right: -13px;
}
a:focus {
	text-decoration: none;
	color: white;
}
.right_to_left.appointment {
	padding-bottom: 15px;
	margin-bottom: 259px;
	padding-top: 171px;
	height: 10px;
}
.right_to_left.appointment.end {
	margin-top: -350px;
	padding-bottom: 21px;
	margin-bottom: 170px;
	padding-top: 171px;
	height: 10px;
}
#gallery_slider > div.ug-slider-wrapper > div.ug-slider-inner > div.ug-slide-wrapper.ug-slide2 > div.ug-item-wrapper > img {
	height: 751px !important;
	top: 13px !important;
	width: auto !important;
	left: -325px !important;
}
.left_to_right_bottom_diag {
	display: block;
	overflow: hidden;
	padding-left: 20px;
	margin-left: -50px;
	padding-top: 139px;
	margin-top: -140px;
	padding-right: 20px;
	margin-right: -20px;
	margin-bottom: 98px;
	height: 492px;
	-webkit-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	transform: rotate(-4deg);
	z-index: 5;
	position: relative;
}
.left_to_right_bottom_diag .block {
	-webkit-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	transform: rotate(4deg);
}
.gallery_right_to_left {
	display: block;
	overflow: hidden;
	padding-left: 20px;
	margin-left: -34px;
	margin-top: -44px;
	padding-right: 20px;
	margin-right: -20px;
	margin-bottom: -126px;
	height: auto;
	width: 110%;
	-webkit-transform: rotate(-3.4deg);
	-ms-transform: rotate(-3.4deg);
	transform: rotate(-3.4deg);
	z-index: 4;
	position: relative;
}
.gallery_right_to_left_top {
	display: block;
	background-color: #191919;
	height: 126px;
	margin-right: -20px;
	margin-bottom: -66px;
	padding-top: 44px;
	-webkit-transform: rotate(-3.3deg);
	-ms-transform: rotate(-3.3deg);
	transform: rotate(-3.3deg);
	z-index: 4;
	position: relative;
}
.block {
	width: 100%;
	height: 200%;
	background-color: #191919;
	display: block;
}
.header {
	position: relative;
	z-index: 3;
	padding-top: 60px;
}
.phone {
	color: white;
	font-family: Lato;
	font-size: 24px;
	font-weight: 400;
	line-height: 48px;
	float: left;
	padding-top: 45.2px;
}
.logo {
	color: white;
	font-family: GreatVibes;
	font-size: 115px;
	font-weight: 400;
	line-height: 80px;
	position: absolute;
	left: 626px;
	margin-left: -123px;
	text-align: center;
	display: block;
	width: auto;
	width: 100px;
	text-decoration: none;
}
.logo:hover, .logo_footer:hover, .logo:active, .logo_footer:active {
	text-decoration: none;
	color: white;
	cursor: pointer;
}
a.G_icon {
	float: right;
	cursor: pointer;
	background: url('../images/sprites.png') no-repeat 0 0;
	width: 60px;
	height: 60px;
	margin-top: 38px;
}
#header_menu {
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	margin-bottom: -12px;
}
.contact {
	padding-bottom: 180px;
	margin-left: 55px;
}
ul.nav.navbar-nav {
	list-style-type: none;
	font-family: Lato;
	font-size: 19px;
	font-weight: 400;
	line-height: 48px;
	text-transform: uppercase;
	display: flex;
	float: none;
	margin-left: 95px;
	margin-top: 0px;
}
a.nav-link {
	color: white;
}
nav.navbar.navbar-light.bg-faded {
	text-align: center;
}
a.nav-link {
	background-color: #191919 !important;
}
.nav > li > a:hover {
	color: #B6B5B5;
}
a.nav-link {
	padding: 16px 28.8px !important;
	text-decoration: none;
}

/* END Header */

/* Gallery slider */

div#gallery_slider {
	left: 0;
	right: 0;
	margin: auto;
	z-index: 4;
	margin-bottom: 99px;
	height: 826px !important;
	width: 100.04% !important;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: transparent;
}
a.fb_icon {
	float: right;
	cursor: pointer;
	background: url(../images/sprites.png) no-repeat 0 0;
	width: 60px;
	height: 60px;
	margin-top: 38px;
	margin-right: 34px;
}
a#phone_number:hover {
	text-decoration: none;
	color: white;
}
a#phone_number:link {
	text-decoration: none;
	color: white;
	display: block;
}

/* END Gallery slider */

/* Welcome block */
.info_block {
	color: white;
	font-family: Lato-Thin;
	font-size: 15px;
	line-height: 22px;
	font-weight: 100;
	display: inline-block;
	padding-bottom: 0px;
	width: 566px;
	margin-left: -13px;
}
.info_block.marg_80.grid {
	padding-bottom: 34px;
	margin-top: 2px;
	margin-left: 51px;
}
.info_block.padd_up {
	margin-left: 31px;
	width: 601px;
}
.wide .info_block {
	margin-bottom: -4.4px;
	padding-bottom: 0px;
	float: none;
	margin-left: -61px;
}
.testimonials .under_title {
	line-height: 61.2px;
	margin-bottom: 18px;
	display: -webkit-inline-box;
	margin-left: 42px;
}
.testimonials {padding-top: 15px;position: relative;top: -305px;z-index: 7;text-align: center;width: 100%;/* left: -18px; */background-color: #191919;margin-left: -17px;padding-right: 25px;}
.wrap {
	position: relative;
	z-index: 7;
	text-align: center;
	width: 100%;
}
.wide {
	position: relative;
	z-index: 7;
}
.center.wide.footer {
	top: 0px;
	text-transform: capitalize;
}
.title.white b {
	font-family: "Lato-Semibold";
}
.txt {
	display: inline-block;
	float: right;
	text-align: justify;
	color: #888;
	font-family: "Lato-thin";
	font-size: 15px;
	font-weight: 600;
	line-height: 23px;
}
.info_block img {
	margin-right: 21px;
	cursor: pointer;
}
.title.black {
	color: black;
	line-height: 54px;
}
.title.white {
	padding-bottom: 0;
	color: white;
	font-family: "Lato-thin";
	margin-bottom: 21px;
	margin-top: -10px;
	width: 622px;
}
.info_block a {
	color: white;
}
.info_block a:hover {
	color: #cbcbcb;
}
.title {
	font-size: 48px;
	text-transform: uppercase;
	margin-bottom: 22px;
	line-height: 54px;
}
.title b {
	font-family: "Lato-Semibold";
}
.ug-slider-control.ug-bullets.ug-skin-default {
	top: 648.3px !important;
	left: 593px !important;
}
.ug-bullets.ug-skin-default .ug-bullet.ug-bullet-active {
	background: url('../images/sprites.png') no-repeat -36px -86px !important;
}
.ug-bullet {
	background: url('../images/sprites.png') no-repeat -36px -61px !important;
	width: 22px !important;
	height: 22px !important;
	margin-right: 9px;
}
.item {
	margin-top: 5px;
	position: relative;
	overflow: hidden;
	height: 145px;
	width: 180px;
	float: left;
	margin-right: 20px;
}
.item .tatoo_sal_build {
	-webkit-transform: perspective(1px) scale(1) translateX(0) translateY(0) translateZ(0);
	transform: scale(1) translateX(0) translateY(0) translateZ(0);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.item:hover .tatoo_sal_build {
	-webkit-transform: perspective(1px) scale(1.1) translate3d(0, 0, 0);
	transform: perspective(1px) scale(1.1)  translate3d(0, 0, 0);
}
.contacts .txt {
	margin-top: 3.1px;
	width: 367px;
}
.mark_icon {
	background: url('../images/sprites.png') no-repeat -109px -45px;
	margin-right: 8px;
	width: 10px;
	height: 15px;
	display: inline-block;
}
.time_icon {
	background: url('../images/sprites.png') no-repeat -90px -45px;
	width: 15px;
	height: 15px;
	display: inline-block;
	position: absolute;
	top: -1px;
	left: -1px;
}
.left_to_right_full_v .txt a {
	color: white;
}
.txt a {
	color: black;
	cursor: pointer;
}
.txt a:hover {
	text-decoration: none;
}
.tatoo_sal_build {
	background: url('../images/tatoo_salon_mag.jpg') center center no-repeat;
	height: 145px;
}

/* END Welcome block */

/* Caurusel block + right_to_left block */
.center {
	text-align: center;
}
#grid_info_block_2 .blog {
	margin-left: 121px;
	width: 1230px;
}
.sn_icons_group {
	position: absolute;
	top: 0px;
	left: -21px;
	z-index: 4;
}
.under_title {
	color: #888;
	font-family: GreatVibes;
	font-size: 48px;
}
.title_ps {
	color: #888;
	font-family: Lato;
	font-size: 15px;
	margin-left: 45px;
}
.carouse_info_block img {
	width: 100px;
}
.slick-slide img {
	width: 270px !important;
}
.ug-gallery-wrapper {
	display: block;
	position: absolute;
}
.ug-gallery-wrapper {
	left: 0;
}
.ug-tile-navigation-wrapper {
    top: 133px !important;
    z-index: 5;
    width: 1151px;
    pointer-events: none;
    left: 61px!important;
}
.ug-button-tile-navigation.ug-button-tile-play.ug-pause-icon {
	display: none;
}
.ug-button-tile-navigation.ug-button-tile-right {
	right: 5%;
	float: right;
}
.ug-button-tile-navigation.ug-button-tile-left {
	margin-left: -8px;
}
.ug-button-tile-navigation.ug-button-tile-left {
	background-image: url(../images/left_arr_caurusel.png) !important;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 59px;
	height: 55px;
	pointer-events: all;
}
.ug-button-tile-navigation.ug-button-tile-left:hover {
	background-image: url(../images/left_arr_caurusel.png) !important;
	background-position: 0 -55px;
	width: 59px;
	height: 55px;
}
.ug-button-tile-navigation.ug-button-tile-right {
	background-image: url(../images/right_arr_caurusel.png) !important;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 59px;
	height: 55px;
	pointer-events: all;
}
.ug-button-tile-navigation.ug-button-tile-right:hover {
	background-image: url(../images/right_arr_caurusel.png) !important;
	background-position: 0 -55px;
	width: 59px;
	height: 55px;
}
.ug-carousel-wrapper img {
	top: 0 !important;
	height: auto !important;
}
.image_block img {
	width: 100%;
}
.correction .contactUs .image_block {
	position: absolute;
	top: 0px;
	left: 583px;
}
.contactUs .title.black {
	margin-bottom: 20px;
}
.contactUs .image_block img {
	height: 515px;
}
.contactUs .info_block.marg_76 {
    padding-bottom: 28px;
}
.justify {
	text-align: justify !important;
}
.info_block .txt {
	text-align: left;
	margin-bottom: 17px;
	line-height: 22px;
	-webkit-font-smoothing: none;
	position: relative;
}
#carousel_info_block {
	margin-top: -15px;
	margin-bottom: 56px;
	margin-left: 8px;
}
.caurusel {
    position: relative;
    margin-bottom: -35px;
}
.caurusel .wrap {
    position: relative;
    top: -13px;
    display: inherit;
    margin-left: 22px;
}
.info_block.marg_76 {
	margin-top: 106px;
	margin-left: 54px;
	width: 514px;
	padding-bottom: 26px;
	display: inline-block;
}
.marg_76 .txt {
	margin-bottom: 22px;
	position: relative;
}
.right_to_left .appointment {
	margin-bottom: 127px;
}
.correction .caurusel .image_block {
	position: absolute;
	top: 0px;
	left: 650px;
	width: 569px;
	height: auto;
	margin-left: 5px;
}

/* END Caurusel block + right_to_left block */

/* Appoinmentment */
.book_appointment {
	top: -228.6px;
	position: absolute;
	right: 46px;
	background-color: #888888;
	z-index: 5;
	border: 1px solid white;
	width: 289px;
	height: 42px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-family: Lato-thin;
	font-size: 21px;
	padding-top: 14px;
}
.book_appointment:hover {
	background-color: #000000;
}
.book_appointment:active {
	background-color: #cdcdcd;
}
a.book_appointment {
	text-decoration: none;
	color: white;
	cursor: pointer;
}
.appointment_wrap {
	position: relative;
}

/* END Appoinmentment*/

/* GALLERY GRID*/
.ug-thumb-wrapper img {
	-webkit-transition: all .2s ease-in-out !important;
	transition: all .2s ease-in-out !important;
	-webkit-transform: scale(1) translate3d(0, 0, 0);
	-ms-transform: scale(1) translate3d(0, 0, 0);
	transform: scale(1)translate3d(0, 0, 0);
}
.ug-thumb-wrapper img:hover {
	-webkit-transition: all 200ms ease-in-out !important;
	transition: all 200ms ease-in-out !important;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.ug-thumb-overlay {
	pointer-events: none !important;
}
.ug-textpanel {
	pointer-events: none !important;
}
.ug-textpanel-textwrapper {
	pointer-events: none !important;
}
.ug-thumb-wrapper.ug-tile .ug-tile-icon.ug-icon-zoom {
	background-image: url(../images/icon_gal_magn_glss.png) !important;
	top: 30% !important;
}
.info_block.marg_76.grid {
	padding-bottom: 9px;
}

/* END GALLERY GRID*/

/* LEFT TO RIGHT 2 BLOCK*/ 

.left_to_right_full_v.posts .title {
	margin-bottom: 0px;
}
.left_to_right_full_v.posts {
	padding-top: 111px;
	padding-bottom: 136px;
	margin-bottom: -235.5px;
	position: relative;
}
.posts_inside {
	position: relative;
	z-index: 7;
	margin-left: 0px;
	margin-bottom: -148px;
	background-color: #191919;
}
.posts_inside .center.wide {
    margin-left: 14px;
}
.posts_inside .title.white {
    margin-bottom: 30px;
}
div#grid_info_block {
	margin-bottom: 154px;
	margin-left: 14px;
}
.pic {
	max-width: 371px;
	max-height: 250px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	margin-right: 24px;
	margin-left: auto;
}
a, a:hover, .pic .pic-image, .pic-caption, .pic:hover .pic-caption, .pic:hover img {
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5 ease;
	-webkit-transform: translateZ(0);
}
.pic-image {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.bottom-to-top {
	top: 80%;
}
.pic-caption {
	cursor: default;
	position: absolute;
	width: 100%;
	height: 95%;
}
.pic:hover .bottom-to-top {
	top: 100%
}
.pic .second_overlay {
	bottom: 100%;
}
.pic:hover .second_overlay {
	bottom: 0%;
}

/*Effects in Caption*/
.pic:hover .bottom-to-top {
	opacity: 0;
}
.pic-caption.bottom-to-top span.p {
	font-family: Lato;
	font-size: 16px;
	text-transform: uppercase;
	color: #dfdfdf;
	opacity: 1 !important;
	filter: alpha(Opacity=100) !important;
	z-index: 2;
	position: absolute;
	padding-top: 13px;
	padding-left: 12px;
	left: -50%;
}
.background_block {
	background: black;
	opacity: 0.5;
	filter: alpha(Opacity=50);
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	left: -50%;
}
.second_overlay {
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
}
.second_overlay .title {
	color: #dfdfdf;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}
.second_overlay span.txt {
	color: #dfdfdf;
	font-family: Lato;
	font-size: 15px;
	font-weight: 100;
	line-height: 22px;
	margin-top: -5px;
	margin-bottom: 19px;
}
.footer {
	color: #b1b1b1;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	display: inline-block;
}
.footer_txt_block {
    margin-left: -5px;
}
.background_block2 {
	opacity: 0.5; /* ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¸ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¿ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â·ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â°ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â½ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¹ ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â½ */
	filter: alpha(Opacity=50); /* ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¸ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â·ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â°ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â½ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“ÃƒÆ’Ã¢â‚¬Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â² IE */
	height: 100%;
	width: 100%;
	background: black;
	position: absolute;
	z-index: -1;
}
.second_overlay .button {
	background-color: #191919;
	border: 1px solid #2c2c2c;
	display: inline-block;
	color: white;
	padding: 9px 14px;
	text-decoration: none;
	cursor: pointer;
	font-size: 14px;
	font-family: "Lato";
	text-transform: uppercase;
	margin-bottom: 16px;
}
.second_overlay .button:hover {
	background-color: #5d5d5d;
	border: 1px solid #c2c2c2;
	display: inline-block;
	color: white;
	top: 23px;
}
.second_overlay .button:active {
	background-color: #bababa;
}
.padd10 {
	padding-left: 10px;
}
.tab {
	padding: 0 5px;
}
.txt_block {
	padding: 15px 14px;
	display: inline-block;
	text-align: left;
}
#grid_info_block_2 {
	text-align: center;
	margin-left: -98px;
}

/* END LEFT TO RIGHT 2 BLOCK*/

/* INSIDE WHITE BLOCK*/
.place_mark img {
	cursor: default;
}
.work_days img {
	cursor: default;
}
.contact_us_txt {
	margin-bottom: 22px;
}
.info_block.marg_76 .e-mail {
	font-family: Lato-Thin;
	font-size: 24px;
	font-weight: 100;
	line-height: 48px;
	color: #191919;
	text-decoration: none;
	cursor: pointer;
}
.info_block.marg_76 .phone {
	color: black;
	display: block;
	float: none;
	text-decoration: none;
	cursor: pointer;
	color: #888;
	font-family: Lato-Thin;
}
img.small_icon_padd {
	margin-right: 10px;
	margin-bottom: 2px;
}
.work_days {
	margin-bottom: 7px;
}

/* END INSIDE WHITE BLOCK*/
img.small_icon_padd_time {
	position: absolute;
	top: 139px;
}

/* RIGHT TO LEFT */
.copy_write {
	color: #888;
	float: left;
	font-family: Lato;
	font-size: 15px;
	font-weight: 100;
	line-height: 44px;
}
.made_by {
	display: inline-block;
	color: white;
	float: left;
	margin-right: 16px;
	color: #888;
	float: left;
	font-family: Lato;
	font-size: 15px;
	font-weight: 100;
	line-height: 44px;
}
.made_by a {
	color: #888;
}
.made_by a:hover {
	color: #c7c7c7;
	text-decoration: none;
	cursor: pointer;
}
.logo_footer {
	color: white;
	font-family: GreatVibes;
	font-size: 72px;
	font-weight: 400;
	line-height: 48px;
	float: left;
	display: block;
	margin-left: 61px;
	margin-top: 58px;
	width: 160px;
}
.copy_write {
	float: left;
}
.made_by {
	float: left;
	text-align: center;
}
.right_to_left2 {
	position: relative;
	width: 100%;
	z-index: 4;
	background-color: #191919;
	padding-top: 2px;
	padding-bottom: 137px;
	margin-top: -130px;
	margin-bottom: 0;
}
a.fb_icon.footer {/* float: right; */cursor: pointer;background: url(../images/sprites.png) no-repeat 0 0;width: 60px;height: 60px;margin-top: 66px;margin-left: 166px;margin-right: -3px;}
.footer_made_by_block {
	margin-left: 64px;
	margin-top: 66px;
	margin-left: 111px;
	display: inline-block;
	width: 650px;
}

/* END RIGHT TO LEFT */
.contactUs.container {
	margin-bottom: 0px;
}
.contactUs {
	margin-bottom: 14px;
	position: relative;
}
.contactUs .image_block {
	width: 100px;
	position: absolute;
	top: 5258px;
	left: 699px;
	z-index: 1;
}
.left_to_right_full_v {
	margin-bottom: -1px;
	color: #fff;
	background-color: #191919;
	background: #191919;
	color: #191919;
	transform: rotate(363.4deg) scale(1) skew(3.4deg) translate(0px);
	-webkit-transform: rotate(363.5deg) scale(1) skew(3.7deg) translate(0px);
	-moz-transform: rotate(363.4deg) scale(1) skew(3.4deg) translate(0px);
	-o-transform: rotate(363.4deg) scale(1) skew(3.4deg) translate(0px);
	-ms-transform: rotate(363.4deg) scale(1) skew(3.4deg) translate(0px);
	width: 100.3%;
	padding-top: 128px;
	padding-bottom: 9.4px;
	position: relative;
	z-index: 3;
	margin-left: -1px;
	height: 100px;
}
.left_to_right_full_v.posts.end {
	padding-bottom: 95px;
	margin-bottom: -2px;
}
.main_frame {
	width: 1260px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: -8px;
}
.correction {
	margin-left: -12px;
	overflow: hidden;
	padding-bottom: 83px;
}
.correction .image_block {
	display: -webkit-inline-box;
	margin-left: 72px;
}
.correction .image_block img {
	height: 100%;
	width: 570px;
}
.one {
	transform: rotate(358deg) scale(1) skew(-2deg) translate(0px);
	-webkit-transform: rotate(358deg) scale(1) skew(-2deg) translate(0px);
	-moz-transform: rotate(358deg) scale(1) skew(-2deg) translate(0px);
	-o-transform: rotate(358deg) scale(1) skew(-2deg) translate(0px);
	-ms-transform: rotate(358deg) scale(1) skew(-2deg) translate(0px);
}
.two {
	transform: rotate(2deg) scale(1) skew(3deg) translate(0px);
	-webkit-transform: rotate(2deg) scale(1) skew(3deg) translate(0px);
	-moz-transform: rotate(2deg) scale(1) skew(3deg) translate(0px);
	-o-transform: rotate(2deg) scale(1) skew(3deg) translate(0px);
	-ms-transform: rotate(2deg) scale(1) skew(3deg) translate(0px);
}
.img_cut {
	display: inline-block;
	overflow: hidden;
	padding-left: 20px;
	margin-left: -20px;
	padding-top: 50px;
	margin-top: -50px;
	padding-right: 20px;
	margin-right: -20px;
	-webkit-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	transform: rotate(-10deg);
}
.slider_bot {
	width: 100%;
	position: relative;
	margin-bottom: -178px;
}
.slider_bot .triangle {
	content: "";
	position: absolute;
	top: -203px;
	left: 2px;
	height: 111px;
	width: 100.13%;
	background: white;
	-webkit-transform: rotate(356.2deg) scale(1) skew(-2.9deg) translate(0px);
	-ms-transform: rotate(356.2deg) scale(1) skew(-2.9deg) translate(0px);
	transform: rotate(356.2deg) scale(1) skew(-3.8deg) translate(0px);
	z-index: 5;
	margin-top: 1px;
}
.slider_bot2, .slider_bot3 {
	width: 100.12%;
	height: 200px;
	float: left;
	position: relative;
	overflow: hidden;
	margin-bottom: -101px;
	z-index: 5;
	margin-top: -30px;
}
.slider_bot3 {
    padding-bottom: 226px;
    margin-bottom: -370px;
}
.slider_bot4 {
	width: 100.12%;
	height: 252px;
	padding-top: 37px;
	position: relative;
	overflow: hidden;
	margin-bottom: -101px;
	z-index: 5;
}
.slider_bot2 .triangle {
	top: 0;
	left: -344px;
	height: 195px;
	width: 79%;
	background: #191919;
	-webkit-transform: rotate(363.3deg) scale(1) skew(-83deg) translate(0px);
	-ms-transform: rotate(363.3deg) scale(1) skew(-83deg) translate(0px);
	transform: rotate(363.3deg) scale(1) skew(-83deg) translate(0px);
	z-index: 6;
	position: absolute;
}
.slider_bot3 .triangle {
	top: 0;
	height: 367px;
	width: 100%;
	background: #191919;
	-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	z-index: 8;
	position: absolute;
}
.footer-top2 {
	background-color: #191919;
	position: relative;
	/* top: 1228px; */
	z-index: 7;
	/* left: 55px; */
	margin-bottom: -166px;
	padding-left: 67px;
	margin-top: 154px;
	padding-top: 109px;
	padding-bottom: 54px;
}
.footer-top2 a {
	color: white;
}
.ug-textpanel-title {
	text-align: center !important;
}
.footer-top2 div:nth-child(2) .title.white {
	margin-left: 0px;
	margin-bottom: 23px;
	width: 500px;
}
.contacts {
	margin-top: 19px;
	margin-right: 34px;
}
.comment {
	margin-left: 25px;
}
.place_mark {
	position: absolute;
	top: 93px;
	left: 1px;
}
.work_days .txt {
	float: left;
	margin-left: 26px;
	margin-bottom: 6px;
}
.testimonials .info_block {
	margin-bottom: -3px;
}