@font-face {
	font-family: 'Lato';
	src: url(../fonts/Lato-Regular.eot);
	src: url(../fonts/Lato-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/Lato-Regular.woff) format('woff'), url(../fonts/Lato-Regular.ttf) format('truetype'), url(../fonts/Lato-Regular.svg#Lato-Regular) format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'Lato-Thin';
	src: url(../fonts/Lato-Thin.eot);
	src: url(../fonts/Lato-Thin.eot?#iefix) format('embedded-opentype'), url(../fonts/Lato-Thin.woff) format('woff'), url(../fonts/Lato-Thin.ttf) format('truetype'), url(../fonts/Lato-Thin.svg#Lato-Thin) format('svg');
	font-weight: 100;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'GreatVibes';
	src: url(../fonts/GreatVibes-Regular.eot);
	src: url(../fonts/GreatVibes-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/GreatVibes-Regular.woff) format('woff'), url(../fonts/GreatVibes-Regular.ttf) format('truetype'), url(../fonts/GreatVibes-Regular.svg#GreatVibes-Regular) format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'Lato-Semibold';
	src: url(../fonts/Lato-Semibold.eot);
	src: url(../fonts/Lato-Semibold.eot?#iefix) format('embedded-opentype'), url(../fonts/Lato-Semibold.woff) format('woff'), url(../fonts/Lato-Semibold.ttf) format('truetype'), url(../fonts/Lato-Semibold.svg#Lato-Semibold) format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
html, body {
	overflow-x: hidden;
}

/* Header */
.header {
	position: relative;
	z-index: 3;
}
.right_to_left {
	position: relative;
	width: 100%;
	z-index: 4;
	background-color: #191919;
	padding-top: 57px;
	padding-bottom: 85px;
	margin-bottom: -6.3%;
	-webkit-clip-path: polygon(0 0, 2400px 0, 2400px 60%, 0 100%);
	clip-path: polygon(0 0, 2400px 0, 2400px 61%, 0 100%);
}
.phone {
	color: white;
	font-family: Lato;
	font-size: 24px;
	font-weight: 400;
	line-height: 48px;
	float: left;
	padding-top: 45px;
}
.logo {
    color: white;
    font-family: GreatVibes;
    font-size: 115px;
    font-weight: 400;
    line-height: 80px;
    position: absolute;
    left: 50%;
    margin-left: -135px;
    text-align: center;
    display: block;
    width: auto;
    width: 100px;
    text-decoration: none;
}

.logo:hover, .logo_footer:hover,.logo:active, .logo_footer:active{
	text-decoration: none;
	color:white;
	cursor: pointer;
}
a.G_icon {
	float: right;
	cursor: pointer;
	background: url('../images/sprites.png') no-repeat 0 0;
	width: 60px;
	height: 60px;
	margin-top: 38px;
}
#header_menu {
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	margin-bottom: -12px;
}
.contact {
	padding-bottom: 180px;
}
ul.nav.navbar-nav {
	font-family: Lato;
	font-size: 19px;
	font-weight: 400;
	line-height: 48px;
	text-transform: uppercase;
	display: inline-block;
	float: none;
}
a.nav-link {
	color: white;
}
nav.navbar.navbar-light.bg-faded {
	text-align: center;
}
a.nav-link {
	background-color: none !important;
}
a.nav-link:hover {
	background-color: transparent;
}
a.nav-link:hover {
	background-color: transparent;
}
.nav > li > a:hover {
	color: #B6B5B5;
}
a.nav-link {
	padding: 16px 29px !important;
}

/* END Header */

/* Gallery slider */

div#gallery_slider {
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
    -webkit-clip-path: polygon(0 0, 2400px 0, 2400px 78%, 0 100%);
    clip-path: polygon(0 0, 2400px 0, 2400px 78%, 0 100%);
    margin-bottom: -61px;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: transparent;
}
a.fb_icon {
    float: right;
    cursor: pointer;
    background: url(../images/sprites.png) no-repeat 0 0;
    width: 60px;
    height: 60px;
    margin-top: 36px;
}
@media screen and (max-width:767px) {
	a.fb_icon {
    background: url(../images/sprites.png) no-repeat 0 0;
    width: 60px;
    height: 60px;
    margin-top: 20px;
    display: block;
    position: absolute;
    margin-left: -31px;
    left: 50%;
}
}
@media screen and (max-width:768px) {
	.phone {
		text-align: center;
		float: none;
	}	
	.contact {
    padding-top: 140px;
    padding-bottom: 0px;
    margin-bottom: 84px;
}
	.right_to_left {
		margin-bottom: -14%;
	}
}
a#phone_number:hover {
	text-decoration: none;
	color: white;
}
a#phone_number:link {
	text-decoration: none;
	color: white;
	display: block;
}

/* END Gallery slider */

/* Welcome block */

.left_to_right_full_v {
	position: relative;
	width: 100%;
	z-index: 2;
	background-color: #191919;
	padding-bottom: 173px;
	-webkit-clip-path: polygon(0 0%, 2400px 19%, 2400px 98%, 0 79%);
	clip-path: polygon(0 73%, 2400px 0, 2400px 73%, 0 100%);
	padding-top: 193px;
}
@media screen and (min-width:1201px) {
	.left_to_right_full_v {
		margin-bottom: -122px;
	}
}
@media screen and (min-width:768px) and (max-width:1200px) {
	.left_to_right_full_v {
		margin-bottom: -168px;
	}
}
.right_to_left_full_v {
    position: relative;
    width: 100%;
    z-index: 2;
    background-color: #191919;
    padding-bottom: 193px;
    margin-bottom: -5.6%;
    -webkit-clip-path: polygon(0 19%, 2400px 0, 2400px 81%, 0 100%);
    clip-path: polygon(0 73%, 2400px 0, 2400px 73%, 0 100%);
    padding-top: 260px;
    margin-top: -147px;
}
@media screen and (max-width:455px){
	.right_to_left_full_v {
		margin-top: -232px;
	}
}
@media screen and (min-width:456px) and (max-width:767px){
	.right_to_left_full_v {
		margin-top: -185px;
	}
}
@media screen and (min-width:768px) and (max-width:911px){
	.right_to_left_full_v {
		margin-top: -160px;
	}
}
@media screen and (min-width:912px) and (max-width:1024px){
	.right_to_left_full_v {
		margin-top: -152px;
	}
}
.left_to_right_full_v {
    position: relative;
    width: 100%;
    z-index: 2;
    background-color: #191919;
    padding-bottom: 150px;
    margin-bottom: -128px;
    -webkit-clip-path: polygon(0 0%, 2400px 18%, 2400px 98%, 0 79%);
    clip-path: polygon(0 73%, 2400px 0, 2400px 73%, 0 100%);
    padding-top: 194px;
}
.info_block {
	color: white;
	font-family: Lato-Thin;
	font-size: 15px;
	line-height: 22px;
	font-weight: 100;
	display: inline-block;
	padding-bottom: 74px;
}
.wide .info_block {
	margin-bottom: 17px;
	padding-bottom: 0px;
}
.wide .under_title {
    line-height: 62px;
    margin-bottom: 14px;
}
.title.white b {
	font-family: "Lato";
}
.txt {
	display: inline-block;
	float: right;
	text-align: justify;
	color: #888;
	font-family: "Lato-thin";
	font-size: 15px;
	font-weight: 100;
	line-height: 22px;
}
.info_block img {
    margin-right: 26px;
    cursor: pointer;
}
.title.black {
	color: black;
}
.right_to_left_full_v .title.white {
    margin-bottom: 2px;
}
.title.white {
    padding-bottom: 0;
    color: white;
    font-family: "Lato-thin";
    margin-bottom: 22px;
}
.title {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 24px;
    line-height: 53px;
}
.title b {
	font-family: "Lato-Semibold";
}
.ug-slider-control.ug-bullets.ug-skin-default {
	top: 84.7% !important;
	left: 50% !important;
	margin-left: -52px !important;
}
.ug-bullets.ug-skin-default .ug-bullet.ug-bullet-active {
	background: url('../images/sprites.png') no-repeat -36px -86px !important;
}
.ug-bullet {
	background: url('../images/sprites.png') no-repeat -36px -61px !important;
	width: 22px !important;
	height: 22px !important;
	margin-right: 9px;
}
.item {
	margin-top: 5px;
	position: relative;
	overflow: hidden;
	height: 145px;
	width: 180px;
	float: left;
	margin-right: 20px;
}
.item .tatoo_sal_build {
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.item:hover .tatoo_sal_build {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.txt_contacts {
	margin-top: 18px;
}
.mark_icon {
	background: url('../images/sprites.png') no-repeat -109px -45px;
	margin-right: 8px;
	width: 10px;
	height: 15px;
	display: inline-block;
}
.time_icon {
	background: url('../images/sprites.png') no-repeat -90px -45px;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-right: 8px;
}
.left_to_right_full_v .txt a{
	color:white;
}
.txt a {
    color: black;
    cursor: pointer;
}
.txt a:hover {
	text-decoration: none;
}
.tatoo_sal_build {
	background: url('../images/tatoo_salon_mag.jpg') center center no-repeat;
	height: 145px;
}
@media screen and (max-width:768px) {
	.left_to_right_full_v .container {
		padding-bottom: 180px;
	}
	body > div.right_to_left {
		margin-bottom: -20.3% !important;
	}
	div#gallery_slider {
		margin-bottom: -34px;
	}
}
@media screen and (min-width:768px) and (max-width:1200px) {
	body > div.right_to_left {
		margin-bottom: -12.3% !important;
	}
	div#gallery_slider {
		mar
		gin-bottom: -28px !important;
	}
	.left_to_right_full_v .container {
		padding-bottom: 0px;
	}
}
@media screen and (min-width:1201px) {
	body > div.right_to_left {
		margin-bottom: -8.3% !important;
	}
}

/* END Welcome block */

/* Caurusel block + right_to_left block */
.center {
	text-align: center;
}
.sn_icons_group {
    position: absolute;
    top: 86%;
    z-index: 1;
    margin-top: 25px;
}
.under_title {
	color: #888;
	font-family: GreatVibes;
	font-size: 48px;
}
.title_ps {
	color: #888;
	font-family: Lato;
	font-size: 15px;
}
.carouse_info_block img {
	width: 100px;
}
.slick-slide img {
	width: 270px !important;
}
.ug-gallery-wrapper {
	display: block;
	position: absolute;
}
.ug-gallery-wrapper {
	left: 0;
}
.ug-tile-navigation-wrapper {
	top: 42.7% !important;
	z-index: 5;
	left: 5% !important;
	width: 90%;
	pointer-events: none;
}
.ug-button-tile-navigation.ug-button-tile-play.ug-pause-icon {
	display: none;
}
.ug-button-tile-navigation.ug-button-tile-right {
	right: 5%;
	float: right;
}
.ug-button-tile-navigation.ug-button-tile-left {
	left: 5% !important;
}
.ug-button-tile-navigation.ug-button-tile-left {
	background-image: url(../images/left_arr_caurusel.png) !important;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 59px;
	height: 55px;
	pointer-events: all;
}
.ug-button-tile-navigation.ug-button-tile-left:hover {
	background-image: url(../images/left_arr_caurusel.png) !important;
	background-position: 0 -55px;
	width: 59px;
	height: 55px;
}
.ug-button-tile-navigation.ug-button-tile-right {
	background-image: url(../images/right_arr_caurusel.png) !important;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 59px;
	height: 55px;
	pointer-events: all;
}
.ug-button-tile-navigation.ug-button-tile-right:hover {
	background-image: url(../images/right_arr_caurusel.png) !important;
	background-position: 0 -55px;
	width: 59px;
	height: 55px;
}
.ug-carousel-wrapper img {
	top: 0 !important;
	height: auto !important;
}
.image_block img {
	width: 100%;
}

.justify{
	text-align: justify!important;
}
.info_block .txt {
	text-align: left;
	margin-bottom: 19.5px;
}
#carousel_info_block {
    margin-top: -77px;
}
@media screen and (max-width:767px) {
	body > div.right_to_left {
		margin-bottom: -14.1% !important;
	}
}
@media screen  and (min-width:768px) and (max-width:1200px) {
	body > div.right_to_left {
		margin-bottom: -8.3% !important;
	}
}
@media screen  and (min-width:1201px) {
	#carousel_info_block {
    margin-top: -83px;
}
}
@media screen  and (max-width:1199px) {
	.artists {
    margin-bottom: 50px;
}

}
.info_block.marg_106 {
    margin-top: 102px;
    width: 90%;
    padding-bottom: 38px;
}
@media screen  and (max-width:767px){
	.info_block.marg_106 {
    margin-top: 0px;
}
}
/* END Caurusel block + right_to_left block */

/* Appoinmentment */
.book_appointment {
    top: -27px;
    position: absolute;
    right: 2.7%;
    background-color: #888888;
    z-index: 5;
    border: 1px solid white;
    width: 291px;
    height: 58px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: Lato-thin;
    font-size: 21px;
    padding-top: 12px;
}
.book_appointment:hover {
    background-color: #000000;
}
.book_appointment:active {
    background-color: #cdcdcd;
}
a.book_appointment {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.appointment_wrap {
    position: relative;    
    margin-bottom: 106px;
}
/* END Appoinmentment*/

/* GALLERY GRID*/
.ug-thumb-wrapper img{
	transition: all .2s ease-in-out!important;
	-moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);    
}
.ug-thumb-wrapper img:hover{
	    transition: all 200ms ease-in-out!important;
	 -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.ug-thumb-overlay{
	pointer-events: none!important; 
	
}
.ug-textpanel{
	pointer-events: none!important;
}
.ug-textpanel-textwrapper{
	pointer-events: none!important;
}
.ug-thumb-wrapper.ug-tile .ug-tile-icon.ug-icon-zoom{
	background-image: url(../images/icon_gal_magn_glss.png)!important;
	top:30%!important;
}
.info_block.marg_106.grid {
    padding-bottom: 11px;
}
/* END GALLERY GRID*/

/* LEFT TO RIGHT 2 BLOCK*/ 

.left_to_right_full_v.posts .title {
    margin-bottom: 0px;
}

.left_to_right_full_v.posts {
    padding-top: 139px;
    padding-bottom: 284px;
    margin-bottom: -131px;
}

@media screen  and (max-width:991px){
	.left_to_right_full_v.posts {
		margin-bottom: -220px;
	}
}

div#grid_info_block {
    margin-bottom: 116px;
}

.pic {
    max-width: 370px;
    max-height: 250px;
    position: relative;
    overflow: hidden;
    margin: 10px;
    display: inline-block;
    width: 100%;
}

a, a:hover, .pic .pic-image, .pic-caption, .pic:hover .pic-caption, .pic:hover img{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5 ease;
}
.pic-image {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.bottom-to-top {
    top: 80%;
}
.pic-caption {
	cursor: default;
    position: absolute;
    width: 100%;
    height: 95%;
}
.pic:hover .bottom-to-top{
    top:100%
}
.pic .second_overlay{
    bottom:100%;
}
.pic:hover .second_overlay{
    bottom:0%;
}
/*Effects in Caption*/
.pic:hover .bottom-to-top{
    opacity: 0;
}
.pic-caption.bottom-to-top span.p {    
    font-family: Lato;
    font-size: 16px;
    text-transform: uppercase;
    color: #dfdfdf;
    opacity: 1!important;
    filter: alpha(Opacity=100)!important;
    z-index: 2;
    position: absolute;
    padding-top: 13px;
    padding-left: 15px;
    left: -50%;
}
.background_block {
    background: black;
    opacity: 0.5;
    filter: alpha(Opacity=50);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: -50%;
}
.second_overlay{	
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
}
.second_overlay .title{
	color: #dfdfdf;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}
.second_overlay span.txt{
	color: #dfdfdf;
	font-family: Lato;
	font-size: 15px;
	font-weight: 100;
	line-height: 22px;
	margin-bottom: 15px;
}
.footer{
	color: #b1b1b1;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	display: inline-block;
}
.background_block2{
	opacity: 0.5; /* Полупрозрачный фон */
    filter: alpha(Opacity=50); /* Прозрачность в IE */
    height: 100%;
    width: 100%;
	background: black;
	position: absolute;
	z-index: -1;
}
.second_overlay .button{
	width: 104px;
	height: 36px;
	background-color: #191919;
	border: 1px solid #2c2c2c;
	display: inline-block;
	margin-bottom: 15px;
	color: white;
	padding-top: 6px;
	padding-left: 17px;
	text-decoration: none;
	cursor: pointer;
}
.second_overlay .button:hover {
    background-color: #5d5d5d;
    border: 1px solid #c2c2c2;
    display: inline-block;
    margin-bottom: 15px;
    color: white;
    padding-top: 6px;
    padding-left: 17px;
}
.second_overlay .button:active {
    background-color: #bababa;
}
.padd10{
	padding-left:10px;
}
.tab{
	padding: 0 5px;
}
.txt_block {
    padding: 10px 15px;
    display: inline-block;
    text-align: left;
}
#grid_info_block_2{
	text-align: center;
}
/* END LEFT TO RIGHT 2 BLOCK*/

/* INSIDE WHITE BLOCK*/
.place_mark img{
	cursor: default;
}
.time_icon_txt img{
	cursor: default;
}
.contact_us_txt {
    margin-bottom: 22px;
}

.info_block.marg_106 .e-mail {
    font-family: Lato-Thin;
    font-size: 24px;
    font-weight: 100;
    line-height: 48px;
    color: #191919;
    text-decoration: none;
    cursor: pointer;
}

.info_block.marg_106 .phone {
    color: black;
    display: block;
    float: none;
    text-decoration: none;
    cursor: pointer;
    color: #888;
    font-family: Lato-Thin;
}
@media screen  and (max-width:768px){
	.info_block.marg_106 .phone {
		text-align: left;
	}
}
img.small_icon_padd {
    margin-right: 10px;
    margin-bottom: 2px;
}
.time_icon_txt {
    margin-bottom: 7px;
}

/* END INSIDE WHITE BLOCK*/
img.small_icon_padd_time {
    margin-right: 6px;
    margin-bottom: 2px;
}
/* RIGHT TO LEFT */
.right_to_left2 {
    position: relative;
    width: 100%;
    z-index: 4;
    background-color: #191919;
    padding-top: 196px;
    padding-bottom: 40px;
    margin-bottom:0;
    -webkit-clip-path: polygon(0 41%, 2400px 0, 2400px 100%, 0 100%);
    clip-path: polygon(0 0, 2400px 0, 2400px 61%, 0 100%);
    margin-top: -58px;
}
.copy_write {
    color: #888;
    float: left;
    font-family: Lato;
    font-size: 15px;
    font-weight: 100;
    line-height: 44px;
}
.made_by {
    display: inline-block;
    color: white;
    float: left;
    margin-right: 20px;
    color: #888;
    float: left;
    font-family: Lato;
    font-size: 15px;
    font-weight: 100;
    line-height: 44px;
}
.made_by a {
    color: #888;
}
.made_by a:hover{
    color: #c7c7c7;
    text-decoration: none;
    cursor: pointer;
}
.logo_footer{
	color: white;
	font-family: GreatVibes;
	font-size: 72px;
	font-weight: 400;
	line-height: 48px;
	float: left;
}

@media screen  and (max-width:1188px){
	.footer_made_by_block {
    margin-left: 0px!important;
}
	.logo_footer {
		float: none;
	}
	.fb_icon.footer {
    float: none!important;
	}
	.copy_write {
		float: none;
	}
	.made_by{
		float: none;
		text-align: center;
	}
	.right_to_left2 {
    position: relative;
    width: 100%;
    z-index: 4;
    background-color: #191919;
    padding-top: 207px;
    padding-bottom: 84px;
    margin-bottom: -6.3%;
    -webkit-clip-path: polygon(0 24%, 2400px 0, 2400px 100%, 0 100%);
    clip-path: polygon(0 0, 2400px 0, 2400px 61%, 0 100%);
    margin-top: -86px;
}
}

a.fb_icon.footer {
    float: right;
    cursor: pointer;
    background: url(../images/sprites.png) no-repeat 0 0;
    width: 60px;
    height: 60px;
    margin-top: 7px;
}
.block{
	display: block;
}
.footer_made_by_block {
    margin-left: 64px;
    margin-top: 9px;
}
/* END RIGHT TO LEFT */

